@{
    ViewBag.Title = "Order Completed";
}

<style>
    h2 {
        text-align: center;
        font-size: 55px;
        color: #343a40;
    }
    p {
        text-align: center;
        font-size: 25px;
    }
</style>

<h2>Thank you for your order!</h2>
<p>We will process it shortly.</p>
